<html>
	<body>
	<h1><%= @message %></h1>

 	<%= button_to "Navigation Video", :action => "show_nav" %>
 	<%= button_to "Data Entry Video", :action => "show_data" %>
 	<%= button_to "Design Video", :action => "show_design" %>
 	<%= button_to "Query Builder Video", :action => "show_query" %>
	
	</body>
</html>